body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    padding: 20px 0;
}

.logo {

    width: 80px;
    height: auto;
    border-radius: 50%;
}

.link {
    font-weight: 400;
    width: 20px;
}

.logo, .link {
    margin: auto;
    
}